.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .sidebarFriendImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

  .sidebarFriendName{
    font-size: 17px;
    font-weight: 400;
    color: black;
  }