.messenger {
  height: calc(100vh - 70px);
  display: flex;
  background-color: #ffffff;
  /* #fffcf4 */
  /* height: calc(100vh - 50px); */
  /* overflow-y: scroll; */
  /* position: sticky; */
  /* top: 70px; */
}

.chatMenu {
  flex: 3;
  width: 100%;
  /* -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68); */
  /* box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68); */
  /* box-shadow:10px 0px 10px -10px rgba(152, 147, 147, 0.68);   */
  /* border-right-style:solid;
  border-color:#e0dbdb; */
  overflow-y: scroll;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  /* background-color: #fffcf4; */
}

.chatMenuInput:focus {
  outline: none;
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffc004;
  color: black;
  font-size: 15px;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding-left: 10px;
  padding-right: 10px;
  /* padding-bottom: 10px; */
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1px;
  }
}
